In [1]:
import pandas as pd
import os, random, glob

In [52]:
df = pd.read_csv('../labels.txt', delimiter=' ', header=None, names=['Patient', 'Abnormality', 'class'])

In [53]:
df.head()

   Patient  Abnormality  class
0     7297            4      1
1     7280            3      1
2     7287            3      1
3     7286            4      1
4     7284            1      0

In [54]:
df[df['Patient'] == 1001]

    Patient  Abnormality  class
51     1001            1      0
75     1001            1      0

In [55]:
df.drop_duplicates(inplace=True)

In [56]:
df[df['Patient'] == 1001]

    Patient  Abnormality  class
51     1001            1      0

In [118]:
df1 = df
df2 = pd.DataFrame({'Patient':[9050, 9048],
                   'Abnormality':[4, 4],
                   'class':[1, 1]}, index=[149, 150])

In [119]:
labels = pd.concat([df1,df2])

In [125]:
canonical_labels = labels[(labels['Abnormality'] == 4)
                          |(labels['Abnormality'] == 1)]

canonical_labels.groupby('class').count()

       Abnormality  Patient
class
0               63       63
1               41       41

In [123]:
canonical_labels[canonical_labels['Patient'] == 9050]

     Abnormality  Patient  class
149            4     9050      1

In [126]:
canon_arrays = []
num_canon = 0
abnormal = 0
normal = 0
total_files = len(os.listdir('../input/rotation'))
for file in os.listdir('../input/rotation'):
    patient = file[:4]
    row = canonical_labels.loc[canonical_labels['Patient'] == int(patient)]
    if row.shape[0] == 0:
        pass
    else:
        canon_arrays.append(file)
        num_canon += 1
        if(row['class'].values == 1): abnormal += 1
        else: normal += 1
print('Total canonical files: ', num_canon)
print('Total not canonical: ', total_files - num_canon)
print('Total valid abnormal files:', abnormal)
print('Total valid normal files: ', normal)
assert(len(canon_arrays) == normal + abnormal)

Total canonical files:  14
Total not canonical:  0
Total valid abnormal files: 7
Total valid normal files:  7